.technology__item_wrap
  padding 0

.technology__item
  position relative
  max-width 370px
  max-height 300px
  width 100%
  height auto
  margin auto
  &:hover
      .technology__item_text
        opacity 1

.technology__item_img
  position relative
  top 0
  left 0
  z-index 1

.technology__item_img img
  max-width 370px
  max-height 300px
  width 100%
  height auto
  //box-sizing border-box

.technology__item_descr
  position absolute
  top 0
  left 0
  padding 20px
  z-index 2
  width 100%
  height 100%

.technology__item_text
  color #eee
  background-color rgba(0, 0, 0, 0.6)
  padding 10px
  font-size 15px
  border-radius 3px
  opacity 0
  transition all 0.5s

.technology__item_title_wrap
  position absolute
  left 0
  bottom 0
  padding 20px

.technology__item_title_text
  display inline-block
  background-color rgba(255, 255, 255, 0.8)
  font-family "Roboto Condensed"
  text-transform uppercase
  font-size 17px
  padding 5px 7px
  border-radius 3px


.technology__item_title_num
  display inline-block
  color #eee
  background-color #E8C04D
  font-size 22px
  width 50px
  height 50px
  border-radius 50%
  padding 9px 19px
  margin-right 10px