.slider_wrap
  max-width 900px
  //min-height 400px
  //width 100%
  //height auto
  margin 20px auto
  box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)

.slider_wrap img
  max-width 900px
  //min-height 400px
  width 100%
  height auto
  box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)

.relation
  position relative

.relation_ratio
  padding-top 60.6%
  height 0

.relation_content
  position absolute
  width: 100%
  height: 100%
  top 0
  left 0
