doctype html
html(lang="ru-RU")
    include ../blocks/head.pug
    body.body
        .wrap-site
            include ../blocks/header.pug
            block content
            include ../blocks/modal.pug
            include ../blocks/footer.pug
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='assets/js/vendor.min.js')
