doctype html
html(lang="ru-RU")
    include ../blocks/lesson-head.pug
    body.l-body
        .wrap-site
            block content
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='assets/js/vendor.min.js')
