.teasers__section
  background url(../img/bg_teasers.jpg) no-repeat fixed center center
  -webkit-background-size cover
  background-size cover
  padding 50px 0
  text-align center
  color #eee
  box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)

.tasers_wrap
  position relative
  z-index 2

.teasers__item
  text-align center
  margin 20px auto
  width 180px
  height 180px
  border 2px solid #eee
  border-radius 50%
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  align-content stretch

.teasers__item .glyphicon
  font-size 32px

.teasers__item_title
  font-family "Roboto Condensed"
  text-transform uppercase
  font-size 14px
  margin-top 10px
  text-shadow: 2px 2px 2px #111