extends ../layouts/lesson-layout.pug

block content
    section.profit
        .wrapper
            .row
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 1
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш
                .item.item_two
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 2
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 3
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш автомобиль пленкой
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 4
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 5
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 6
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 7
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш