footer.site__footer
    .container
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .corpinfo Атокей, 2016 г.
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .footer-line
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .copyright Использование материалов возможно только с письменного согласия владельца.