header.site__header
    .container-fluid
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                nav.navbar.navbar-default.navbar-fixed-top
                    .container-fluid
                        // Brand and toggle get grouped for better mobile display
                        .navbar-header
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#top-menu', aria-expanded='false')
                                span.sr-only Отрыть навигацию
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='#')
                                img(src='assets/img/logo.png', alt='Автокей')
                        // Collect the nav links, forms, and other content for toggling
                        #top-menu.collapse.navbar-collapse
                            ul.nav.navbar-nav
                                li
                                    a(href='#services')
                                        | Услуги
                                        span.sr-only (current)
                                li
                                    a(href='#works') Наши работы
                                li
                                    a(href='#technology') Технология
                                li
                                    a(href='#contacts') Контакты
                            .navbar-text.navbar-right
                                span.glyphicon.glyphicon-earphone(aria-hidden='true')
                                | +7 (123) 456-77-88