head
    meta(http-equiv='content-type' content='text/html' charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Уроки flex-box
    link(rel='stylesheet' href='assets/lesson-css/lesson.css')

