// Modal
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                h4#myModalLabel.modal-title Заказать звонок
            .modal-body
                input(type='text')
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
                button.btn.btn-danger(type='button') Отправить
