.contacts__map_wrap
  width 100%
  height 450px
  margin-bottom 20px
  box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)

.contacts__items_wrap
  display flex
  flex-wrap wrap

.contacts__item
  font-size 18px
  margin 0 0 10px

.contacts__item_title
  display flex
  flex-wrap wrap
  //width 170px
  
.contacts__item_title, .contacts__item_text  
  border 1px solid #41A195
  margin 5px 0
  padding 5px
  
.contacts__item_text
  color: #41a195
  
.contacts__item_title
  background-color #41a195
  color: #eee

.contacts__item_title .glyphicon
  margin-right 5px