section
  padding 30px 0
  position relative

.main__section
  height 700px
  padding 0
  margin 0
  box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)

.main__wrap_left,
.main__wrap_right
  //padding 0
  position relative
  padding-left 0!important
  padding-right 0!important

.main__left
  background url(../img/bg_main.jpg) no-repeat scroll center center
  -webkit-background-size cover
  background-size: cover
  height 700px

.overlay
  background-color rgba(0, 0, 0, 0.6)
  width 100%
  height 100%
  position absolute
  left 0
  top 0
  z-index 1

.main__wrap_section
  height 700px
  padding 20px
  position relative
  z-index 2
  text-align center
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  align-content stretch

.main__title
  color lightColor
  font-size 36px
  text-shadow 1px 1px 2px #000

.main__desc
  color #ff0
  font-size 20px
  text-shadow 1px 1px 2 px #000

.main__right
  background-color: #fff
  height: 700px
  padding: 50px 0
  display flex
  flex-flow column nowrap
  justify-content space-around
  align-items center
  align-content stretch

.main__right_item
  background-color #41a195
  font-family titleFont
  color lightColor
  text-transform uppercase
  width 150px
  height 150px
  border-radius 50%
  display flex
  flex-flow column nowrap
  justify-content space-around
  align-items center
  align-content stretch

.my_separator
  width 100%
  height 150px
