.site__header .navbar
  background-color #41a195
  padding 10px 0
  -webkit-box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)
  -moz-box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)
  box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)

.site__header .navbar-brand img
  max-width 182px
  max-height 36px
  width 100%
  height auto

.site__header .navbar-default
  border none

.site__header .navbar-collapse
  text-align center

.site__header .nav
  float none
  display inline-block
  margin 0
  padding 0
  text-align center

.site__header .nav li a
  background-color #41a195
  display inline-block
  font-family titleFont
  color lightColor
  font-size 18px
  margin 12px 5px 0
  padding 5px 10px
  min-width 125px // изменил - выровнил кнопки
  border 1px solid #eee
  border-radius 2px
  -webkit-transition: all 0.35s
  -o-transition: all 0.35s
  -moz-transition: all 0.35s
  transition: all 0.35s
  &:hover,
  &:focus,
  &:active
    background-color #337F76

.site__header .navbar-text
  color lightColor
  font-size 20px
  padding-right 15px

.site__header .navbar-toggle
  background-color #41a195
  border 2px solid lightColor
  &:hover,
  &:focus
    background-color #41a195

.site__header .navbar-toggle .icon-bar
  background-color lightColor




