.clients__section,
.clients__section .order__title_center
  background-color: #e5dd37

.clients__item
  text-align center
  margin 20px auto

.clients__item_img img
  width 180px
  height 180px
  border-radius 50%

.clients__item_title
  font-family "Roboto Condensed"
  text-transform uppercase
  font-size 14px
  margin-top 10px

