.serv__title_wrap,
.work__title_wrap,
.order__title_wrap,
.clients__title_wrap,
.technology__title_wrap,
.contacts__title_wrap
  text-align center
  position relative
  padding-bottom 30px
  margin 20px 0 30px

.serv__title_lines,
.work__title_lines,
.order__title_lines,
.clients__title_lines,
.technology__title_lines,
.contacts__title_lines
  border-top 2px solid #333
  border-bottom 2px solid #333
  height 15px
  width 100%
  position absolute
  left 0
  top 9px
  z-index 1

.serv__title_center,
.work__title_center,
.order__title_center,
.clients__title_center,
.technology__title_center,
.contacts__title_center
  display inline-block
  background-color #fff
  position relative
  z-index 2
  padding 0 12px

.serv__title,
.work__title,
.order__title,
.clients__title,
.technology__title,
.contacts__title
  margin 0
  font-family titleFont
  font-size 28px
  text-transform: uppercase
  color #000

.serv__tab_wrap
  border 1px solid #41A195
  -webkit-border-radius 3px
  -moz-border-radius 3px
  border-radius 3px
  padding 30px

.nav-tabs
  border none
  text-align center

.nav-tabs > li
  float none
  display inline-block

.nav-tabs > li > a,
.nav-tabs > li > a:hover
  color #41A195
  border 1px solid #41A195
  -webkit-border-radius 2px
  -moz-border-radius 2px
  border-radius 2px
  margin 10px 5px

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover
  background-color #41A195
  color: #eee
  border 1px solid #41A195
  -webkit-border-radius 2px
  -moz-border-radius 2px
  border-radius 2px

.serv__item
  max-width 980px
  margin 0 auto

.serv__item_title
  font-size 20px
  text-align center
  margin 20px 0 10px

.serv__item_img
  text-align center

.serv__item_img img
  max-width 300px
  max-height 300px
  width 100%
  height auto
  margin-bottom 10px

