section.profit {
  max-width: 960px;
  margin: 100px auto;
}
.wrapper {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  border: 2px solid #000;
  margin: 10px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
.row .item {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(33.333333333333336% - 30px);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background: #999;
}
@media screen and (max-width: 960px) {
  .row .item {
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 780px) {
  .row .item {
    width: calc(100% - 30px);
  }
}
@media screen and (max-width: 1100px) {
  .row .item {
    background: #0298db;
  }
}
@media screen and (max-width: 960px) {
  .row .item {
    background: #67b56e;
  }
}
img {
  display: block;
  width: 50px;
  margin: 10px auto;
}
.item > .lesson__right_item {
  font-size: 25px;
  font-weight: 700;
}
.main__desc {
  font-size: 15px;
  font-weight: 400;
}
.l-body {
  background-color: #8d6e63;
  font-family: Arial, sans-serif;
  color: #eee;
  font-size: 18px;
  line-height: 1.4;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
