#phone, #phone2, #phone3,
#phone4, #phone5, #phone6,
#phone7
  width: 100%
  height 35px

.required
  color red
  font-size 24px

.form__first_line,
.form__second_line
  padding-bottom 100px
  margin-left: 6%;

.form__third_line
  padding-bottom 100px
  margin-left: 1%;

p.require_notice
  margin: 0 0 27px;

.form_comment
  text-align center
  margin-bottom: 2%;

textarea
  width 100%

p.form_notice
  text-align center


