@import "./grid-stylus/smart-grid.styl"

section.profit
  max-width 960px
  margin 100px auto

.wrapper
  height auto
  display flex
  flex-grow 0
  flex-shrink 1
  flex-basis auto
  border 2px solid black
  margin 10px

.row
  display flex
  flex-wrap wrap
  justify-content center
  flex-grow 0
  flex-shrink 1
  flex-basis auto
  .item
    display block
    col()
    size(4)
    size-md(6)
    col-sm-12()
    lg(background, #0298DB)
    md(background, #67B56E)
    flex-grow 0
    margin-bottom 20px
    text-align center
    padding 20px
    background: #999

img
  display block
  width 50px
  margin 10px auto

.item > .lesson__right_item
  font-size 25px
  font-weight 700

.main__desc
  font-size 15px
  font-weight 400

//.profit .row
//  display flex
//  justify-content space-around
//  flex-wrap wrap

////.row
//  //margin 0 -130px прижать крайние блоки к краям рамки
//
//@media screen and (max-width: 560px)
//  .row .item_two
//    order -1

//*******************************************************************************************//













