@media only screen and (max-width: 1200px)
  .main__right
    height auto
    padding 20px
    flex-flow row wrap
  .technology__item_descr

    padding 10px
  .technology__item_title_wrap
    padding 8px
  .technology__item_text
    font-size 12px

  .technology__item_title_text
    font-size 14px
    padding 3px 6px
    border-radius 1px
  .technology__item_title_num
    font-size 17px
    width 30px
    height 30px
    padding 3px 11px

@media only screen and (max-width: 768px)
  .main__title
    font-size 24px
  .main__desc
    font-size 18px
  .main__section,
  .main__wrap_section,
  .main__left
    height 500px
  .technology__item_title_wrap
    width 105%
    padding 8px
  .technology__item_text
    font-size 12px
  .technology__item_title_text
    font-size 14px
    padding 3px 6px
    border-radius 1px
  .technology__item_title_num
    font-size 17px
    width 30px
    height 30px
    padding 3px 11px

@media only screen and (max-width: 480px)
  .main__left
    background url(../img/bg_main_mob.jpg) no-repeat scroll center center
  .serv__title_lines
    height 10px
  .serv__title_txt
    font-size 24px

@media only screen and (min-width: 778px)
  .my_separator
    display none

@media only screen and (max-width: 480px)
  .my_separator
    width 100%
    height 450px

@media only screen and (max-width: 770px)
  .technology__item_descr
    position absolute
    top 0
    left 0
    padding 20px
    z-index 2
    width 100%
    height 100%

  .technology__item_text
    color #eee
    background-color rgba(0, 0, 0, 0.6)
    padding 10px
    font-size 15px
    border-radius 3px
    opacity 0
    transition all 0.5s

  .technology__item_title_wrap
    position absolute
    left 0
    bottom 0
    padding 20px

  .technology__item_title_text
    display inline-block
    background-color rgba(255, 255, 255, 0.8)
    font-family "Roboto Condensed"
    text-transform uppercase
    font-size 17px
    padding 5px 7px
    border-radius 3px


  .technology__item_title_num
    display inline-block
    color #eee
    background-color #E8C04D
    font-size 22px
    width 50px
    height 50px
    border-radius 50%
    padding 9px 19px
    margin-right 10px