.site__footer
  background url(../img/bg_footer.png) repeat scroll center center
  padding 50px 0 20px

.footer-line
  height 1px
  background-color #b9b9b9
  width 100%
  margin 20px 0

.copyright
  font-size 12px
  font-style Italic