.anchore {
  position: absolute;
  top: -50px;
}
.body {
  background-color: #ddd;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.main__wrap_btn {
  padding-top: 20px;
  text-align: center;
}
.clients__section,
.clients__section .order__title_center {
  background-color: #e5dd37;
}
.clients__item {
  text-align: center;
  margin: 20px auto;
}
.clients__item_img img {
  width: 180px;
  height: 180px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.clients__item_title {
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
}
.contacts__map_wrap {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
          box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.contacts__items_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.contacts__item {
  font-size: 18px;
  margin: 0 0 10px;
}
.contacts__item_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.contacts__item_title,
.contacts__item_text {
  border: 1px solid #41a195;
  margin: 5px 0;
  padding: 5px;
}
.contacts__item_text {
  color: #41a195;
}
.contacts__item_title {
  background-color: #41a195;
  color: #eee;
}
.contacts__item_title .glyphicon {
  margin-right: 5px;
}
.site__footer {
  background: url("../img/bg_footer.png") repeat scroll center center;
  padding: 50px 0 20px;
}
.footer-line {
  height: 1px;
  background-color: #b9b9b9;
  width: 100%;
  margin: 20px 0;
}
.copyright {
  font-size: 12px;
  font-style: Italic;
}
.site__header .navbar {
  background-color: #41a195;
  padding: 10px 0;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.site__header .navbar-brand img {
  max-width: 182px;
  max-height: 36px;
  width: 100%;
  height: auto;
}
.site__header .navbar-default {
  border: none;
}
.site__header .navbar-collapse {
  text-align: center;
}
.site__header .nav {
  float: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}
.site__header .nav li a {
  background-color: #41a195;
  display: inline-block;
  font-family: Roboto Condensed, sans-serif;
  color: #eee;
  font-size: 18px;
  margin: 12px 5px 0;
  padding: 5px 10px;
  min-width: 125px;
  border: 1px solid #eee;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.site__header .nav li a:hover,
.site__header .nav li a:focus,
.site__header .nav li a:active {
  background-color: #337f76;
}
.site__header .navbar-text {
  color: #eee;
  font-size: 20px;
  padding-right: 15px;
}
.site__header .navbar-toggle {
  background-color: #41a195;
  border: 2px solid #eee;
}
.site__header .navbar-toggle:hover,
.site__header .navbar-toggle:focus {
  background-color: #41a195;
}
.site__header .navbar-toggle .icon-bar {
  background-color: #eee;
}
html {
  height: 100%;
}
html,
body {
  overflow-x: hidden;
}
section {
  padding: 30px 0;
  position: relative;
}
.main__section {
  height: 700px;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
          box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.main__wrap_left,
.main__wrap_right {
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.main__left {
  background: url("../img/bg_main.jpg") no-repeat scroll center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 700px;
}
.overlay {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.main__wrap_section {
  height: 700px;
  padding: 20px;
  position: relative;
  z-index: 2;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
.main__title {
  color: #eee;
  font-size: 36px;
  text-shadow: 1px 1px 2px #000;
}
.main__desc {
  color: #ff0;
  font-size: 20px;
  text-shadow: 1px 1px 2 px #000;
}
.main__right {
  background-color: #fff;
  height: 700px;
  padding: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
.main__right_item {
  background-color: #41a195;
  font-family: Roboto Condensed, sans-serif;
  color: #eee;
  text-transform: uppercase;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
.my_separator {
  width: 100%;
  height: 150px;
}
@media only screen and (max-width: 1200px) {
  .main__right {
    height: auto;
    padding: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .technology__item_descr {
    padding: 10px;
  }
  .technology__item_title_wrap {
    padding: 8px;
  }
  .technology__item_text {
    font-size: 12px;
  }
  .technology__item_title_text {
    font-size: 14px;
    padding: 3px 6px;
    -webkit-border-radius: 1px;
            border-radius: 1px;
  }
  .technology__item_title_num {
    font-size: 17px;
    width: 30px;
    height: 30px;
    padding: 3px 11px;
  }
}
@media only screen and (max-width: 768px) {
  .main__title {
    font-size: 24px;
  }
  .main__desc {
    font-size: 18px;
  }
  .main__section,
  .main__wrap_section,
  .main__left {
    height: 500px;
  }
  .technology__item_title_wrap {
    width: 105%;
    padding: 8px;
  }
  .technology__item_text {
    font-size: 12px;
  }
  .technology__item_title_text {
    font-size: 14px;
    padding: 3px 6px;
    -webkit-border-radius: 1px;
            border-radius: 1px;
  }
  .technology__item_title_num {
    font-size: 17px;
    width: 30px;
    height: 30px;
    padding: 3px 11px;
  }
}
@media only screen and (max-width: 480px) {
  .main__left {
    background: url("../img/bg_main_mob.jpg") no-repeat scroll center center;
  }
  .serv__title_lines {
    height: 10px;
  }
  .serv__title_txt {
    font-size: 24px;
  }
}
@media only screen and (min-width: 778px) {
  .my_separator {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .my_separator {
    width: 100%;
    height: 450px;
  }
}
@media only screen and (max-width: 770px) {
  .technology__item_descr {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .technology__item_text {
    color: #eee;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    font-size: 15px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .technology__item_title_wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
  }
  .technology__item_title_text {
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    font-size: 17px;
    padding: 5px 7px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
  }
  .technology__item_title_num {
    display: inline-block;
    color: #eee;
    background-color: #e8c04d;
    font-size: 22px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding: 9px 19px;
    margin-right: 10px;
  }
}
#phone,
#phone2,
#phone3,
#phone4,
#phone5,
#phone6,
#phone7 {
  width: 100%;
  height: 35px;
}
.required {
  color: #f00;
  font-size: 24px;
}
.form__first_line,
.form__second_line {
  padding-bottom: 100px;
  margin-left: 6%;
}
.form__third_line {
  padding-bottom: 100px;
  margin-left: 1%;
}
p.require_notice {
  margin: 0 0 27px;
}
.form_comment {
  text-align: center;
  margin-bottom: 2%;
}
textarea {
  width: 100%;
}
p.form_notice {
  text-align: center;
}
.serv__title_wrap,
.work__title_wrap,
.order__title_wrap,
.clients__title_wrap,
.technology__title_wrap,
.contacts__title_wrap {
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  margin: 20px 0 30px;
}
.serv__title_lines,
.work__title_lines,
.order__title_lines,
.clients__title_lines,
.technology__title_lines,
.contacts__title_lines {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 9px;
  z-index: 1;
}
.serv__title_center,
.work__title_center,
.order__title_center,
.clients__title_center,
.technology__title_center,
.contacts__title_center {
  display: inline-block;
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding: 0 12px;
}
.serv__title,
.work__title,
.order__title,
.clients__title,
.technology__title,
.contacts__title {
  margin: 0;
  font-family: Roboto Condensed, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: #000;
}
.serv__tab_wrap {
  border: 1px solid #41a195;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 30px;
}
.nav-tabs {
  border: none;
  text-align: center;
}
.nav-tabs > li {
  float: none;
  display: inline-block;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover {
  color: #41a195;
  border: 1px solid #41a195;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 10px 5px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #41a195;
  color: #eee;
  border: 1px solid #41a195;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.serv__item {
  max-width: 980px;
  margin: 0 auto;
}
.serv__item_title {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 10px;
}
.serv__item_img {
  text-align: center;
}
.serv__item_img img {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.teasers__section {
  background: url("../img/bg_teasers.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 50px 0;
  text-align: center;
  color: #eee;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
          box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.tasers_wrap {
  position: relative;
  z-index: 2;
}
.teasers__item {
  text-align: center;
  margin: 20px auto;
  width: 180px;
  height: 180px;
  border: 2px solid #eee;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
.teasers__item .glyphicon {
  font-size: 32px;
}
.teasers__item_title {
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
  text-shadow: 2px 2px 2px #111;
}
.technology__item_wrap {
  padding: 0;
}
.technology__item {
  position: relative;
  max-width: 370px;
  max-height: 300px;
  width: 100%;
  height: auto;
  margin: auto;
}
.technology__item:hover .technology__item_text {
  opacity: 1;
}
.technology__item_img {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.technology__item_img img {
  max-width: 370px;
  max-height: 300px;
  width: 100%;
  height: auto;
}
.technology__item_descr {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.technology__item_text {
  color: #eee;
  background-color: rgba(0,0,0,0.6);
  padding: 10px;
  font-size: 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.technology__item_title_wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
}
.technology__item_title_text {
  display: inline-block;
  background-color: rgba(255,255,255,0.8);
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-size: 17px;
  padding: 5px 7px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.technology__item_title_num {
  display: inline-block;
  color: #eee;
  background-color: #e8c04d;
  font-size: 22px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 9px 19px;
  margin-right: 10px;
}
.slider_wrap {
  max-width: 900px;
  margin: 20px auto;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
          box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.slider_wrap img {
  max-width: 900px;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
          box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.relation {
  position: relative;
}
.relation_ratio {
  padding-top: 60.6%;
  height: 0;
}
.relation_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.wrap-site {
  background: #fff;
  min-width: 320px;
  max-width: 1680px;
  margin: 0 auto;
  padding-top: 70px;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
