.wrap-site
  background #fff
  min-width 320px
  max-width 1680px
  margin 0 auto
  padding-top 70px
  -webkit-box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)
  -moz-box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)
  box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)
